@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  font-family: "Raleway", sans-serif;
  background: linear-gradient(180deg, #5f8ff5, #01124d);
  color: #ffffff;
}

header.topNav {
  position: fixed;
  width: 100%;
  padding: 10px 20px;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
}

.search-container {
  display: flex;
  align-items: center;
  width: 100%;
}

.search-container input {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
}

main.mainContainer {
  padding-top: 80px;
}

section.wavePlaylist {
  padding: 20px;
  background: #131313;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

section.wavePlaylist h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #ff4c4c;
}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
}

.item {
  text-align: center;
  background: #181818;
  padding: 12px;
  border-radius: 10px;
  transition: transform 0.3s, background 0.3s;
}

.item:hover {
  transform: translateY(-5px);
  background: #0b0b0b;
}

.item h4 {
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 10px;
}

.item p {
  font-size: 0.8rem;
  color: #ebe4e4;
  font-weight: 600;
}
.player {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #282c34;
    color: white;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
}

.song-info {
    margin-bottom: 15px;
    text-align: center;
}

.song-info span {
    display: block;
}

.player-controls {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 15px;
}

.control-btn {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 1.5rem;
}

.progress-bar {
    width: 100%;
    margin-bottom: 10px;
}

#progress {
    width: 100%;
    cursor: pointer;
}

.time-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 0.9rem;
}
